In [1]:
import numpy as np
import pandas as pd
import altair as alt

In [2]:
pip install scipy

Requirement already satisfied: scipy in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (1.5.4)
Requirement already satisfied: numpy>=1.14.5 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from scipy) (1.19.2)
WARNING: You are using pip version 20.1.1; however, version 20.2.4 is available.
You should consider upgrading via the '/usr/local/bin/python3 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [3]:
import scipy
from scipy import stats

In [5]:
input2 = pd.read_csv("input/input_2.csv")
input2

,Month,Coronavirus,Current Events,Financial Problems,Loneliness or Isolation,Grief or Loss,Past Trauma,Relationship Problems
0,May,32.45,24.53,23.19,68.81,26.63,46.70,43.17
1,June,25.50,31.56,23.64,70.70,25.88,45.55,42.74
2,July,26.24,26.58,24.27,71.35,26.22,46.65,42.77
3,August,26.64,26.02,24.79,70.77,26.64,46.56,42.61
4,September,24.53,26.17,23.46,70.69,26.27,45.48,42.05

In [8]:
#excluding month column, convert other seven to lists for normality testing
corona = input2['Coronavirus'].to_list()
print('Coronavirus:', corona)
ce_list = input2['Current Events'].to_list()
print('Current Events: ', ce_list)
fp_list = input2['Financial Problems'].to_list()
print('Financial Problems: ', fp_list)
li_list = input2['Loneliness or Isolation'].to_list()
print('Loneliness or Isolation: ', li_list)
gl_list = input2['Grief or Loss'].to_list()
print('Grief or Loss: ', gl_list)
pt_list = input2['Past Trauma'].to_list()
print('Past Trauma: ', pt_list)
rp_list = input2['Relationship Problems'].to_list()
print('Relationship Problems: ', rp_list)

Coronavirus: [32.45, 25.5, 26.24, 26.64, 24.53]
Current Events:  [24.53, 31.56, 26.58, 26.02, 26.17]
Financial Problems:  [23.19, 23.64, 24.27, 24.79, 23.46]
Loneliness or Isolation:  [68.81, 70.7, 71.35, 70.77, 70.69]
Grief or Loss:  [26.63, 25.88, 26.22, 26.64, 26.27]
Past Trauma:  [46.7, 45.55, 46.65, 46.56, 45.48]
Relationship Problems:  [43.17, 42.74, 42.77, 42.61, 42.05]

In [15]:
#x = np.concatenate((corona, ce_list, fp_list, li_list, gl_list, pt_list, rp_list))
#k2, p = stats.normaltest(x)
#alpha = 1e-3
#print("p = {:g}".format(p))
#if p < alpha:  # null hypothesis: x comes from a normal distribution
    #print("The null hypothesis can be rejected")
#else:
    #print("The null hypothesis cannot be rejected")

#p = p = 0.0291951, The null hypothesis cannot be rejected
#so I used the Kruskal-Wallis H Test 

x = np.concatenate((corona, ce_list))
y = np.concatenate((fp_list, li_list))
z = np.concatenate(( gl_list, pt_list, rp_list))
print(stats.kruskal(x, y, z))
c = 7 # # of sample groups
dof = c-1
dof

KruskalResult(statistic=4.756014756701232, pvalue=0.0927351796547873)

6

In [52]:
#one way ANOVA
import researchpy as rp
from scipy.stats import f_oneway
f_oneway(x,y,z)
#wasn't able to figure out how to chart this

F_onewayResult(statistic=4.93474535042782, pvalue=0.013553042563955875)